  <fieldset>
    <legend>글 등록/수정</legend>
    <%= f.input :title %>
    <%= f.input :attached_picture, as: 'file' %>
    <%= f.input :body, :input_html => {:class => 'cleditor'}  %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', [:admin, :articles], :class => 'btn' %>
    </div>
  </fieldset>
