<h2><%= t @board.title %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>제목</th>
      <th>조회수</th>
      <th>등록일</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= link_to article.title, article_path(@board.title, article) %></td>
        <td><%= article.hit %></td>
        <td><%= l article.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @articles %>

<%= link_to '새로운 글 등록', [:new, :article], :class => 'btn btn-primary' %>
