<h1><%= @board.title %></h1>

<p>
	<b>제목</b>
	<%= @article.title %>
</p>

<p>
	<b>본문</b>
	<br />
	<%= image_tag @article.attached_picture.url %>
	<%= raw @article.body %>
</p>

<div class="form-actions">
  <%= link_to '목록으로', [:admin, :articles], :class => 'btn'  %>
  <%= link_to '수정', edit_admin_article_path(@board.title, @article), :class => 'btn' %>
  <%= link_to '삭제', admin_article_path(@board.title, @article), :method => 'delete', :confirm => '정말로 삭제하시겠습니까?', :class => 'btn btn-danger' %>
</div>
